#main{
    display: flex;
    margin: auto;
}
form{
    margin: auto;
    padding-top: 100px;
}
form div{
    width: 600px;
}
#exampleInputEmail1{
    width: 500px;
}
#exampleInputPassword1{
    width: 500px;
}
#div2 i{
    margin-left: 20px;
     cursor: pointer;
}